@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Updock&family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;1,500&family=Updock&family=Water+Brush&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f8f6f6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor {
  width: 100%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contenedor .icono-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebe9e9;
  -webkit-box-shadow: 0 0 1px 0 #b4b2b2;
          box-shadow: 0 0 1px 0 #b4b2b2;
  right: 25px;
  top: 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  color: #7e6fe6;
  display: none;
}

.contenedor .header {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

.contenedor .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor .header nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-right: 20px;
}

.contenedor .header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  text-align: center;
  margin-left: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.contenedor .header nav ul li:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.contenedor .header nav ul li .a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
}

.contenedor .header nav ul li .a:hover {
  color: #7e6fe6;
}

.contenedor .header nav ul li .a i {
  padding: 3px 5px;
  color: #5e5e5e;
  font-size: 18px;
}

.contenedor .inicio {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor .inicio .contenedor-img {
  width: 450px;
  height: 450px;
}

.contenedor .inicio .contenedor-img .img {
  margin-top: 50px;
  width: 450px;
  height: 450px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-animation: movimiento 5.5s linear infinite;
          animation: movimiento 5.5s linear infinite;
}

.contenedor .inicio .texto-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.contenedor .inicio .texto-boton .boton-1 {
  border: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  background: #7e6fe6;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 20px;
}

.contenedor .inicio .texto-boton .boton-1:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contenedor .inicio .texto-boton .titulo {
  font-weight: 600;
  color: #5e5e5e;
}

.contenedor .inicio .texto-boton .titulo span {
  color: #ff7300;
  position: relative;
}

.contenedor .inicio .redes {
  width: 100px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedor .inicio .redes i {
  font-size: 40px;
  cursor: pointer;
  color: #5e5e5e;
  -webkit-transition: .3s;
  transition: .3s;
}

.contenedor .inicio .redes i:hover {
  -webkit-transform: scale(1.85);
          transform: scale(1.85);
  color: #7e6fe6;
}

.quien-soy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.quien-soy .mi {
  width: 1300px;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.quien-soy .mi .parrafos-1 {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quien-soy .mi .parrafos-1::after {
  content: "";
  top: 20px;
  right: -50px;
  position: absolute;
  width: 2px;
  height: 500px;
  background-color: #d7dddd;
}

.quien-soy .mi .parrafos-1 .titulo2 {
  color: #5e5e5e;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}

.quien-soy .mi .parrafos-1 p {
  margin-top: 30px;
  text-align: center;
  line-height: 24px;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 14px;
}

.quien-soy .mi .parrafos-1 .btn-info {
  border: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  background: #7e6fe6;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 20px;
  position: relative;
}

.quien-soy .mi .parrafos-1 .btn-info:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.quien-soy .mi .parrafos-2 {
  width: 500px;
  height: 500px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quien-soy .mi .parrafos-2 .img2 {
  width: 400px;
  height: 400px;
  -webkit-animation: movimiento 5.5s linear infinite;
          animation: movimiento 5.5s linear infinite;
}

.habiliades {
  width: 100%;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.habiliades .tecnologias {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.habiliades .tecnologias .titulo2 {
  width: 100%;
  text-align: center;
  color: #5e5e5e;
  font-size: 35px;
  margin-bottom: 30px;
}

.habiliades .tecnologias p {
  width: 100%;
  text-align: center;
  color: #5e5e5e;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
}

.habiliades .tecnologias .contenedor-habilidades-1, .habiliades .tecnologias .contenedor-habilidades-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  min-width: 400px;
  height: 450px;
  -webkit-box-shadow: 0 0 0 1px #e2dfdf;
          box-shadow: 0 0 0 1px #e2dfdf;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.habiliades .tecnologias .contenedor-habilidades-1 h2, .habiliades .tecnologias .contenedor-habilidades-2 h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #272525;
}

.habiliades .tecnologias .contenedor-habilidades-1 .logos, .habiliades .tecnologias .contenedor-habilidades-2 .logos {
  width: 100px;
  margin-left: 15px;
  text-align: center;
}

.habiliades .tecnologias .contenedor-habilidades-1 .logos h4, .habiliades .tecnologias .contenedor-habilidades-2 .logos h4 {
  color: #272525;
  font-weight: bold;
}

.habiliades .tecnologias .contenedor-habilidades-1 .logos i, .habiliades .tecnologias .contenedor-habilidades-2 .logos i {
  font-size: 45px;
  color: #7e6fe6;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.habiliades .tecnologias .contenedor-habilidades-1 .logos i:hover, .habiliades .tecnologias .contenedor-habilidades-2 .logos i:hover {
  color: #29253b;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.portafolio {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portafolio .portafolio-hijo {
  width: 1300px;
  max-width: 1300px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portafolio .portafolio-hijo .titulo3 {
  width: 100%;
  color: #5e5e5e;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}

.portafolio .portafolio-hijo .parrafo {
  width: 100%;
  text-align: center;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 14px;
}

.portafolio .portafolio-hijo .contenedor-portafolio {
  width: 400px;
  margin-top: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 20px;
}

.portafolio .portafolio-hijo .contenedor-portafolio img {
  width: 300px;
  height: 220px;
  -webkit-box-shadow: 0 0 1px 1px #dfdfdf;
          box-shadow: 0 0 1px 1px #dfdfdf;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}

.portafolio .portafolio-hijo .contenedor-portafolio img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones button {
  border: none;
  outline: none;
  margin-left: 10px;
  padding: 10px 25px;
  margin-bottom: 10px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones button:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones .btn-git {
  background: none;
  color: #5e5e5e;
  border: 1px solid #7e6fe6;
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones .btn-git:hover {
  color: #fff;
  background-color: #7e6fe6;
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones .btn-ver {
  background: #7e6fe6;
  color: #fff;
  border: 1px solid #7e6fe6;
}

.portafolio .portafolio-hijo .contenedor-portafolio .div-botones .btn-ver:hover {
  background-color: #fff;
  color: black;
}

.contacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #151d28;
  margin-top: 50px;
}

.contacto .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #151d28;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contacto .footer .redes-footer {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.contacto .footer .redes-footer i {
  font-size: 30px;
  cursor: pointer;
  color: #7e6fe6;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 20px;
}

.contacto .footer .redes-footer i:hover {
  -webkit-transform: scale(1.85);
          transform: scale(1.85);
  color: #fff;
}

.contacto .footer p {
  width: 600px;
  text-align: center;
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 600;
}

@-webkit-keyframes movimiento {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movimiento {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1100px) {
  .contenedor > .inicio > .contenedor-img {
    width: 350px;
    height: 350px;
  }
  .contenedor > .inicio > .contenedor-img .img {
    width: 350px;
    height: 350px;
  }
  .contenedor > .inicio > .redes {
    width: 100px;
    height: 400px;
  }
  .contenedor > .inicio > .redes i {
    font-size: 30px;
  }
  .quien-soy > .parrafos-2 .img2 {
    width: 350px;
    height: 350px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-1 {
    width: 350px;
    height: 400px;
    min-width: 400px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-1 h2 {
    font-size: 20px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-1 .logos {
    width: 70px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-1 .logos i {
    font-size: 35px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-2 {
    width: 350px;
    height: 400px;
    min-width: 400px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-2 h2 {
    font-size: 20px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-2 .logos {
    width: 70px;
  }
  .habiliades > .tecnologias > .contenedor-habilidades-2 .logos i {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) {
  .contenedor > .header nav {
    width: 100%;
  }
  .contenedor > .header nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contenedor > .header nav ul li {
    list-style: none;
    display: inline-block;
  }
  .contenedor > .header nav ul li .a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #5e5e5e;
  }
  .contenedor > .header nav ul li .a i {
    font-size: 12px;
  }
  .contenedor > .inicio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .contenedor > .inicio .redes {
    position: absolute;
    top: 70px;
    right: 0;
  }
  .contenedor > .inicio > .contenedor-img {
    display: none;
  }
  .contenedor .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor .header nav ul {
    text-align: center;
  }
  .quien-soy > .mi .parrafos-1 {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .quien-soy > .mi .parrafos-1::after {
    background-color: transparent;
  }
}

@media screen and (max-width: 800px) {
  .contenedor > .icono-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor > .header > .menu ul {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contenedor > .inicio > .redes {
    display: none;
  }
  .quien-soy > .mi > .parrafos-1 {
    width: 400px;
  }
  .quien-soy > .mi > .parrafos-1 p {
    margin-top: 30px;
    text-align: center;
    line-height: 24px;
    color: #5e5e5e;
    font-weight: 600;
    font-size: 14px;
  }
  .contacto {
    width: 100%;
  }
  .contacto .footer {
    width: 100%;
  }
  .contacto .footer .redes-footer {
    width: 200px;
  }
  .contacto .footer .redes-footer i {
    font-size: 20px;
  }
  .contacto .footer p {
    width: 300px;
    font-size: 11px;
  }
}

@media screen and (max-width: 450px) {
  .quien-soy > .mi > .parrafos-1 {
    width: 300px;
  }
  .quien-soy > .mi > .parrafos-1 p {
    font-size: 14px;
  }
  .quien-soy > .mi .parrafos-2 .img2 {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .habiliades {
    margin-top: 0px;
  }
  .habiliades .tecnologias {
    margin-bottom: 20px;
  }
  .habiliades .tecnologias .contenedor-habilidades-1, .habiliades .tecnologias .contenedor-habilidades-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    min-width: 350px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */